{% extends "layout.html" %}
{% block title %}Run List{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Run List</h1>
    {% if auto_refresh %}
    <p>
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Auto-refresh is enabled on this page.
    </p>
    {% endif %}
</div>

<form class="form-inline" method="get" action="{{url_for('runs')}}">
    <input type="text" class="form-control monospace" name="testcase_id" placeholder="Testcase" autocomplete="off">
    <select class="form-control monospace" name="phase">
        <option value="">--Phase--</option>
        {% for p in test_phases -%}
        <option>{{p}}</option>
        {%- endfor %}
        <option>end</option>
    </select>
    <select class="form-control monospace" name="status">
        <option value="">--Status--</option>
        <option>passed</option>
        <option>failed</option>
        <option>timeout</option>
        <option>pending</option>
        <option>running</option>
    </select>
    <button type="submit" class="btn btn-default">Filter</button>
</form>

<div class="table-responsive">
<table id="run-table" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Student</th>
            <th>SHA (Build)</th>
            <th>Testcase</th>
            <th>Phase</th>
            <th>Status</th>
            <th>Compile</th>
            <th>Run Time</th>
        </tr>
    </thead>
    <tbody>
    {%- for r in testruns %}
        {%- set t = testcases[r.testcase_id] -%}
        {%- set v = versions[r.version_id] -%}
        {%- set c = compilers[v.compiler_id] -%}
        {% include 'runs_row.html' %}
    {% endfor -%}
    </tbody>
</table>
</div>

{% endblock %}

{% block scripts %}
{% if auto_refresh %}
<script src="{{url_for('static', filename='runs.js')}}"></script>
<script>
(function() {
    var url = "{{url_for('ajax_watch_runs')}}";
    var latest_id = {{ testruns[0].id if testruns else 0 }};
    var watch_list = [{{','.join(map(str, watch_list))}}];
    updater.init(url, latest_id, watch_list);
})();
</script>
{% endif %}
{% endblock %}